<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AutomationExercise Test Suite">
    <parameter name="browser" value="chrome"/>
    <parameter name="headless" value="true"/>
    <parameter name="maximize" value="true"/>

    <test name="User Authentication Tests">
        <classes>
            <class name="Tests.UserAuthTests"/>
        </classes>
    </test>

    <test name="Contact Us And Test Cases Tests">
        <classes>
            <class name="Tests.ContactUsAndTestCasesTests"/>
        </classes>
    </test>

    <test name="Products And Cart Tests">
        <classes>
            <class name="Tests.ProductsAndCartTests"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="Tests.CheckoutTests"/>
        </classes>
    </test>

    <test name="SideBar Tests">
        <classes>
            <class name="Tests.SideBarTests"/>
        </classes>
    </test>

    <test name="Search And Review Tests">
        <classes>
            <class name="Tests.SearchAndReviewTests"/>
        </classes>
    </test>

    <test name="Scroll UI Tests">
        <classes>
            <class name="Tests.ScrollUITests"/>
        </classes>
    </test>

    <test name="Bonus Tests">
        <classes>
            <class name="Tests.BonusTests"/>
        </classes>
    </test>

</suite>